#Portal {
    // sets background blue gradient to span
    background: linear-gradient(57.84deg, #B7D3FF -6.8%, #C1D9FF 29.9%, #E5F8FF 108.49%);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}