#NavBar {
  display: flex;
  z-index: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
#NavBar .nav-link {
  transition: color, 0.3s;
}
#NavBar .nav-link:hover {
  color: #de35ff;
}
#NavBar #logo-div-2 {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 312px;
  margin-left: 24px;
  gap: 13px;
  align-items: center;
}
#NavBar #logo-div-2 > div {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
#NavBar #logo-img-2 {
  height: 51px;
}
#NavBar #middle-nav {
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  text-align: center;
  gap: 38px;
  display: flex;
  color: #BEBEBE;
}
#NavBar #button-div-2 {
  margin-right: 52px;
  flex-direction: row;
  align-items: center;
}
#NavBar #login-button {
  border: none;
  /* gets rid of small edges around border */
  width: 142px;
  background: none;
}
#NavBar #signup-button {
  width: 142px;
  height: 73px;
}
#NavBar #login-button, #NavBar #signup-button {
  transition: transform, 0.2s;
}
#NavBar #login-button:hover, #NavBar #signup-button:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 1084px) {
  #NavBar #logo-div-2 {
    display: none;
  }
  #NavBar #middle-nav {
    display: none;
  }
  #NavBar #button-div-2 {
    display: none;
  }
  #NavBar #menu-btn {
    display: flex;
    order: -1;
  }
}

#top-div {
  display: none;
  justify-content: right;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 2;
}

#logo-img-top {
  height: 51px;
}

@media screen and (max-width: 1084px) {
  #menu-btn {
    display: flex;
  }
}
#menu-btn {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s, ease-in-out;
}

.menu-btn-burger {
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  left: 0;
}

.menu-btn-burger::before, .menu-btn-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px gray;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-16px);
}

.menu-btn-burger::after {
  transform: translateY(16px);
}

#menu-btn.open {
  position: relative;
  align-self: flex-start;
  margin-right: 0;
}

/* ANIMATION */
#menu-btn.open .menu-btn-burger {
  background: transparent;
  box-shadow: none;
}

#menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}

#menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}

/* shared code for ham menu interior */
.vertical {
  display: flex !important;
}

#NavBar.vertical, #NavBar #middle-nav.vertical {
  flex-direction: column !important;
}

#NavBar #button-div-2.vertical {
  margin-top: 30px;
  margin-right: 0 !important;
}

#NavBar.vertical {
  position: absolute;
  width: 325px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  justify-content: flex-start;
  padding: 100px 2%;
  box-shadow: 0 2px 5px rgba(140, 140, 140, 0.3);
  left: 0;
}

@media screen and (max-width: 1084px) {
  #NavBar {
    padding: 0 10px;
  }
  #logo-div-2 {
    width: 51px !important;
  }
  #top-div {
    display: flex;
  }
}
@media screen and (max-width: 575px) {
  #NavBar {
    width: 100% !important;
    box-shadow: none !important;
  }
}

/*# sourceMappingURL=NavBar.css.map */
